.todo__card {
  border: 2px solid rgb(216, 214, 214);
  border-radius: 5px;
  padding: 15px;
  //   width: 80%;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
  //   margin: 30px 0;
  //   columns: 4 200px;
}
