.todo__show {
  display: flex;
  border: 2px solid rgb(216, 214, 214);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
  margin: 30px auto;
  position: relative;
  justify-content: space-between;
  .delete {
    padding: 4px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  .edit__delete {
    display: flex;
    height: min-content;
  }
  .delete:hover {
    color: white;
    background-color: #f33636;
  }
  .edit {
    padding: 4px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  .todo__container {
    display: flex;
    gap: 8px;
  }
}
