* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh !important;
}

body,
#root {
  display: flex !important;
  flex-grow: 1 !important;
  flex-direction: column !important;
}
